%p#notice= notice
%h1 Input and Facts
%p
  %b Body:
  = @user_input.body

= link_to 'Edit', edit_user_input_path(@user_input)

= link_to 'Analyzed Texts', user_inputs_path

%h3 Listing Facts

- @facts.each do |fact|
  - fact.nouns.each do |noun|
    = "- " + noun.name
  = link_to 'Show', fact
  = link_to 'Edit', edit_fact_path(fact)
  = link_to 'Destroy', fact, :method => :delete, :data => { :confirm => 'Are you sure?' }

