%p#notice= notice
%h1 Input and Facts
%p
  %b Body:
  = @user_input.body

= link_to 'Edit', edit_user_input_path(@user_input)

= link_to 'Analyzed Texts', user_inputs_path

%h3 Listing Facts

- @facts.each do |fact|
  = "--------------"
  %br
  - fact.nouns.each do |noun|
    = "- " + noun.name #+ " " + noun.verb.name
    %br


